<div class="form-group contentTableDeleteS">
    
    <!--Response-->
    <div class="alert response" id="responseDeleteStudent" role="alert" style="display: none;">
        
    </div>

    <!--Title-->
    <div class="titleAddStudent">
        <i class="btn btn-default fas fa-info-circle fa-lg"></i>
        <span class="h4 leyenda">Alumnos</span>
    </div>

    <!--Table-->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="leyenda">Nombre</th>
                    <th class="leyenda">Usuario</th>
                    <th class="leyenda">Acciones</th>
                </tr>
            </thead>
            <tbody id="bodyTableStudents">

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalStudent" tabindex="-1" role="dialog" aria-labelledby="modalStudentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="modalInfoStudent">
      
    </div>
  </div>
</div>