<div class="modal-header">
    <div class="modal-title" id="modalStudentLabel">
        <span class="h5 leyenda" id="ModalNameStudent">Genaro Martínez Huertas</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body alignColumn">
    <div id="freeAsignatures" class="alignRow7">
        <!--<div class="asignature">
            <button class="btn btn-success fixButton"><i class="fas fa-plus"></i></button>
            <span>Español</span>
        </div>*/-->
    </div>
    <div class="leyenda h6">
        Materias Registradas:
    </div>
    <div class="alignRow contentCards" id="contentCards" style="gap:10px;">
        <!--<div class="card text-center">
            <div class="card-header alignRow">
                <button class="btn btn-danger fixButtonsm"><i class="fas fa-times fa-sm fixIcon"></i></button>
                <span>Nombre</span>
            </div>
            <div class="card-body">1250</div>
        </div>-->
    </div>
</div>

<div class="modal-footer" style="justify-content: flex-start;" >
    <div>
        <span class="h6 leyenda" id="costoTotalModal"></span>
    </div>
</div>
