<div class="form-control contentSearchStudent">
    <div class="titleSearch">
        <label for="" class="leyenda">Buscar:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="searchStudent">
            <div class="input-group-append">
              <button class="btn btn-warning" type="button" id="searchStudent"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="contentSearch row">
        <div class="col-lg-3">
            <label for="nameStudentSearch" class="leyenda">Nombre:</label>
            <input type="text" id="nameStudentSearch" class="form-control" readonly>
        </div>
        <div class="col-lg-3">
            <label for="lN1StudentSearch" class="leyenda">Apellido Paterno:</label>
            <input type="text" id="lN1StudentSearch" class="form-control" readonly>
        </div>
        <div class="col-lg-3">
            <label for="lN1StudentSearch" class="leyenda">Apellido Materno:</label>
            <input type="text" id="lN1StudentSearch" class="form-control" readonly>
        </div>
    </div>
    <div class="contentSearchUser row">
        <div class="col-lg-12">
            <label for="userStudentSearch" class="leyenda">Usuario:</label>
            <input type="text" id="userStudentSearch" class="form-control" readonly>
        </div>
    </div>
</div>