<div class="modal-header">
    <div class="modal-title" id="modalStudentLabel">
        <span class="h5 leyenda" id="ModalNameStudent">Alumnos Registrados:</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body alignColumn">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="leyenda">Nombre</th>
                    <th class="leyenda">Usuario</th>
                </tr>
            </thead>
            <tbody id="bodyTableAsignaturesS">

            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer" style="justify-content: flex-start;" >
    <div>
        <span class="h6 leyenda" id="costoTotalModal"></span>
    </div>
</div>